# Ignore virtual environment directories
venv/
env/
FaceIt/
.venv/

# Byte-compiled / optimized / DLL files
__pycache__/
*.pyc
*.pyo
*.pyd

# C extensions
*.so

# Packages
*.egg
*.egg-info/
dist/
build/

# Poetry lock and cache files
poetry.lock
*.whl
*.tar.gz
.cache/
poetry.toml
# Ignore files or directories with numeric names
[0-9]*/  # Ignore directories
[0-9]*   # Ignore files

# Jupyter Notebook checkpoints
.ipynb_checkpoints

# Logs
*.log

# Windows files
Thumbs.db

# Explicitly keep FACEIT_codes directory
!FACEIT_codes/


